Checks:          'clang-diagnostic-*,boost-*,bugprone-*,cert-*,cppcoreguidelines-*,clang-analyzer-*,google-explicit-constructor,google-global-names-in-headers,google-readability-casting,google-readability-todo,google-runtime-int,google-runtime-operator,hicpp-*,misc-*,modernize-*,mpi-*,performance-*,portability-*,readability-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             google-global-names-in-headers.HeaderFileExtensions
    value:           h,hh,hpp,hxx
  - key:             readability-function-size.LineThreshold
    value:           '150'
  - key:             readability-function-size.StatementThreshold
    value:           '800'
  - key:             readability-function-size.BranchThreshold
    value:           '15'
  - key:             readability-function-size.ParameterThreshold
    value:           '5'
  - key:             readability-function-size.NestingThreshold
    value:           '10'
  - key:             readability-function-size.VariableThreshold
    value:           '20'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           '1'
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '1'
  - key:             modernize-use-auto.RemoveStars
    value:           '1'
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           '1'
  - key:             readability-inconsistent-declaration-parameter-name.Strict
    value:           '1'
