[Desktop Entry]
Version=1.0
Name=IDE Open
GenericName=IDE Open
Comment=Software Development Environment based on Emacs
MimeType=application/x-shellscript;application/xml;text/english;text/plain;text/x-c++;text/x-c++hdr;text/x-c++src;text/x-c;text/x-chdr;text/x-csrc;text/x-java;text/x-makefile;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;text/xml
Exec=emacsclient -n %F
TryExec=emacsclient
Icon=cpp
Type=Application
NoDisplay=true
Terminal=false
Categories=Utility;Development;TextEditor;
StartupWMClass=Emacs25
