[Desktop Entry]
Version=1.0
Name=IDE
GenericName=IDE
Comment=Software Development Environment based on Emacs
MimeType=
Exec=emacsclient -c
TryExec=emacsclient
Icon=cpp
Type=Application
Terminal=false
Categories=Development;TextEditor;IDE;BUilding;Debugger;RevisionControl
StartupWMClass=Emacs25
